<% include partials/header %>
<br>
<h1 class="title"><i class="fas fa-search"></i> Search Film & TV</h1>
    <br>
<form action="/results" method="GET">
        <input type="text" name="search" placeholder="SEARCH FOR A MOVIE OR TV SERIES" />
        <br>
        <br>
        <br>
        <div class="wrapper">
        <button class="btn" type="submit" value="Submit">Search</button>
    </div>
</form>

<% include partials/footer %>